/**
 * @file
 * @ingroup HaloACL_CSS
 */



#createStdAclTab a, #createTmpAclTab a, #createQuickAclTab a,#createUserAclTab a {
    height:16px!important;
}
#createStdAclTab a em, #createTmpAclTab a em, #createQuickAclTab a em,#createUserAclTab a em{
    height:16px!important;
}
#createStdAclTab a em, #createTmpAclTab a em, #createQuickAclTab a em,#createUserAclTab a em{
    padding-top:2px!important;
}
.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav a em{
    height:14px!important;
}
.yui-skin-sam .yui-navset .yui-nav a em, .yui-skin-sam .yui-navset .yui-navset-top .yui-nav .selected a em{
    height:14px!important;
}
.haloacl_tab_section_header_count{
    padding-top:4px;
}
.haloacl_tab_section_header_title{
    padding-top:4px;
}
.haloacl_panel_nameDescr{
    padding-top:0px;
}
#haloacl_manageuser_contentmenu{
    height:auto!important;
    float:left!important;
}