/* 
    Document   : ext.carzam.carrousel
    Created on : Jul 26, 2012, 11:55:58 AM
    Author     : bedhed (bedhed@seizam.com)
    Description:
        Style for CarZam's Carousel.
    License: GPL v3.0
*/

/*
 * Wrapper
 */
 
#carrousel {
     padding: 16px 0;
     border-top: 1px solid #dad9d9;
     border-bottom: 1px solid #dad9d9;
}

#carrousel:first-child {
     padding-top: 0;
     border-top: none;
}

#carrousel:last-child {
     padding-bottom: 0;
     border-bottom: none;
}


/*
 * Top photo
 */
 
#car_photos {
	position:relative;
    height: 360px;
}
#car_photos li {
	display:block;
    position: absolute;
    width: 100%;
}
#car_photos figure {
    width: 100%;
}

#car_photos figure img,
#car_photos figure > div {
    display: block;
    margin: auto;
	border: 1px solid #dad9d9;
}

#car_photos figure figcaption {
    margin-top: 4px;
    text-align: center;
}

/*
 * Bottom Slider
 */

#car_slider {
	position:relative;
	height:122px;
	width:100%;
    margin-top: 8px;
}


#car_slider > div.car_slider_window {
	position:relative;
	height:122px;
	overflow: hidden;
	width:100%;
}

#car_slider ul {
	position:absolute;
	top:0;
	left:0;
	padding:0;
	margin:0;
	height:122px;
	overflow:hidden;
}
#car_slider ul li {
	float:left;
	padding:0;
	margin:0 10px 0 0;
	list-style:none;
}
#car_slider ul li a {
	display:inline-block;
	border:1px solid #868080;
}
#car_slider ul li a:focus {
	outline:0;
	border-color: #f0373a;
}

/*
 * Next + Prev buttons
 */

#carrousel .prev,
#carrousel .next {
    position: absolute;
    top: 40px;
    width: 40px;
    height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 1px solid #dad9d9;
    background-color: #e22c2e;
    z-index:5;
}

#carrousel .prev {
    /* @embed */
    background-image: url(images/arrows_slide_left.png);
    left: -8px;
}

#carrousel .next {
    /* @embed */
    background-image: url(images/arrows_slide_right.png);
    right: -8px;
}

#carrousel .prev:focus,
#carrousel .prev:hover,
#carrousel .next:focus,
#carrousel .next:hover {
    background-color: #7c2122;
}


