/* 
    Document   : ext.carzam.carrousel
    Created on : Jul 26, 2012, 11:55:58 AM
    Author     : bedhed (bedhed@seizam.com)
    Description:
        Style for CarZam's Carousel & Slideshow.
    License: GPL v3.0
*/


/* -----------------------------------------------------------------------------
   == COMMON
   -------------------------------------------------------------------------- */


/*
 * Next + Prev buttons
 */

.prev,
.next {
    position: absolute;
    top: 40px;
    width: 40px;
    height: 40px;
    background-position: 0 0;
    background-repeat: no-repeat;
    border: 1px solid #dad9d9;
    background-color: #e22c2e;
    z-index:5;
}


/* @noflip */
.prev {
    /* @embed */
    background-image: url(images/arrows_slide_left.png);
    left: -8px;
}
/* @noflip */
.next {
    /* @embed */
    background-image: url(images/arrows_slide_right.png);
    right: -8px;
}

.prev:hover,
.next:hover{
    background-color: #7c2122;
}

/*
 * Wrapper
 */
 
.slideshow,
#carrousel {
     margin: 0 auto 18px;
}

.slideshow:last-child,
#carrousel:last-child {
    margin-bottom: 0;
}

#car_photos figure img,
#car_photos figure > div,
.CarError,
.slideshow li > div.wrapper > div {
    display: block;
    margin: auto;
    padding: 0;
	border: 1px solid #dad9d9;
}



/* -----------------------------------------------------------------------------
   == CARROUSELS
   -------------------------------------------------------------------------- */


/*
 * Top photo
 */
 
#car_photos {
	position:relative;
    height: 360px;
}
#car_photos li {
	display:block;
    position: absolute;
    width: 100%;
}
#car_photos figure {
    width: 100%;
}

#car_photos figure figcaption {
    margin-top: 4px;
    text-align: center;
}

/*
 * Bottom Slider
 */

#car_slider {
	position:relative;
    margin-top: 8px;
}


#car_slider > div.car_slider_window {
	position:relative;
	height:122px;
	overflow: hidden;
}

#car_slider ul {
	position:absolute;
	top:0;
	left:0;
	padding:0;
	margin:0;
}
#car_slider ul li {
	float:left;
	padding:0;
	margin:0 10px 0 0;
	list-style:none;
}
#car_slider ul li a {
	display:inline-block;
	border:1px solid #868080;
    height: 120px;
    width: 120px;
    overflow: hidden;
}

#car_slider ul li a img {
	max-width: none;
    max-height: none;
}

#car_slider ul li a:focus {
	outline:0;
	border-color: #f0373a;
}


/* -----------------------------------------------------------------------------
   ==  SLIDESHOW
   -------------------------------------------------------------------------- */

.slideshow {
    position: relative;
    width: 100%;
}

.slideshow li, .slideshow ul {
    margin:0;
    padding:0;
    list-style: none;
}

.slideshow div.wrapper {
    overflow: hidden;
}

.slideshow img {
    border: 1px solid #dad9d9;
}

.slideshow li {
    position: absolute;
    left: 0;
    background: #fff;
    width: 100%;
}

.slideshow div.caption {
    border: none;
    text-align: center;
    margin-top: 4px;
}

/* -----------------------------------------------------------------------------
   ==  SLIDESHOW ON WELCOME PAGE
   -------------------------------------------------------------------------- */

.mw-special-Welcome .slideshow {
    margin-bottom: 0;
}

.mw-special-Welcome .slideshow {
    width: 518px;
    height: 244px;
    padding-top: 7px;
}

.slideshow div.wrapper {
    padding: 0 10px;
}

.mw-special-Welcome .slideshow a { color: #4D4E4F; }

.mw-special-Welcome .slideshow div.caption {
    font-size: 14px;
    text-align: justify;
    padding: 10px 10px 0;
    margin: 0;
}

.mw-special-Welcome .slideshow h4 {
    display: inline;
    font-size: 14px;
    letter-spacing: 1px;
    word-spacing: 3px;
    font-style: normal;
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: black;
}

.mw-special-Welcome .slideshow p {
    display: inline;
    letter-spacing: 1px;
    word-spacing: 3px;
    line-height: 1em;
    margin: 0;
    padding: 0;
}




